@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,500;0,900;1,900&display=swap');
body{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    background-color: rgba(17, 41, 70, 0.959)
}

header{
    width: 100%;
    height: 40px;
    background-color: rgba(4, 23, 46, 0.959);
}

header img{
    margin-left: 10px ;
    float: left;
}

header i{
    
    font-size: 20px;
    color: #fff;
}

.user{
    width: auto;
    height: 20px;
    float: right;
    color: #fff;
    font-size: 20px;
    margin-top: 8px;
    margin-right: 10px;
}