@font-face {
  font-family: 'fontello';
  src: url('../font/fontello.eot?32957522');
  src: url('../font/fontello.eot?32957522#iefix') format('embedded-opentype'),
       url('../font/fontello.woff2?32957522') format('woff2'),
       url('../font/fontello.woff?32957522') format('woff'),
       url('../font/fontello.ttf?32957522') format('truetype'),
       url('../font/fontello.svg?32957522#fontello') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'fontello';
    src: url('../font/fontello.svg?32957522#fontello') format('svg');
  }
}
*/
 
 [class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "fontello";
  font-style: normal;
  font-weight: normal;
  speak: never;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
 
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.icon-star:before { content: '\e800'; } /* '' */
.icon-camera:before { content: '\e801'; } /* '' */
.icon-ok:before { content: '\e802'; } /* '' */
.icon-lock:before { content: '\e803'; } /* '' */
.icon-see:before { content: '\e804'; } /* '' */
.icon-calendar:before { content: '\e805'; } /* '' */
.icon-folder:before { content: '\e806'; } /* '' */
.icon-folder-open:before { content: '\e807'; } /* '' */
.icon-doc:before { content: '\e808'; } /* '' */
.icon-warning:before { content: '\e809'; } /* '' */
.icon-user:before { content: '\e80a'; } /* '' */
.icon-cog:before { content: '\e80b'; } /* '' */
.icon-down-open:before { content: '\e80c'; } /* '' */
.icon-left-open:before { content: '\e80d'; } /* '' */
.icon-right-open:before { content: '\e80e'; } /* '' */
.icon-up-open:before { content: '\e80f'; } /* '' */
.icon-docs:before { content: '\f0c5'; } /* '' */
.icon-user-md:before { content: '\f0f0'; } /* '' */
.icon-stethoscope:before { content: '\f0f1'; } /* '' */
.icon-suitcase:before { content: '\f0f2'; } /* '' */
.icon-bell-alt:before { content: '\f0f3'; } /* '' */
.icon-doc-text:before { content: '\f0f6'; } /* '' */
.icon-medkit:before { content: '\f0fa'; } /* '' */
.icon-help:before { content: '\f128'; } /* '' */
.icon-doc-inv:before { content: '\f15b'; } /* '' */
.icon-document:before { content: '\f15c'; } /* '' */
.icon-youtube-play:before { content: '\f16a'; } /* '' */
.icon-box:before { content: '\f187'; } /* '' */
.icon-google:before { content: '\f1a0'; } /* '' */
.icon-database:before { content: '\f1c0'; } /* '' */
.icon-file-word:before { content: '\f1c2'; } /* '' */
.icon-delete:before { content: '\f1f8'; } /* '' */
.icon-heartbeat:before { content: '\f21e'; } /* '' */
.icon-venus:before { content: '\f221'; } /* '' */
.icon-mars:before { content: '\f222'; } /* '' */
.icon-mercury:before { content: '\f223'; } /* '' */
.icon-transgender:before { content: '\f224'; } /* '' */
.icon-transgender-alt:before { content: '\f225'; } /* '' */
.icon-venus-double:before { content: '\f226'; } /* '' */
.icon-mars-double:before { content: '\f227'; } /* '' */
.icon-venus-mars:before { content: '\f228'; } /* '' */
.icon-mars-stroke:before { content: '\f229'; } /* '' */
.icon-mars-stroke-v:before { content: '\f22a'; } /* '' */
.icon-mars-stroke-h:before { content: '\f22b'; } /* '' */
.icon-neuter:before { content: '\f22c'; } /* '' */
.icon-address-card:before { content: '\f2bb'; } /* '' */
.icon-user-circle:before { content: '\f2bd'; } /* '' */
.icon-id-card:before { content: '\f2c2'; } /* '' */
.icon-shower:before { content: '\f2cc'; } /* '' */